<app-header></app-header>

<div class="mt-2" style="margin: 2rem;">
    <p-card header="Popular K-Dramas">
            <h4>Crash Landing on You (2019-2020)</h4>
            A South Korean heiress accidentally paraglides into North Korea and meets a North Korean officer.
            Goblin (Guardian: The Lonely and Great God) (2016-2017)
            A modern-day goblin seeks a human bride to end his immortal life.
           <hr>
            <h4>Descendants of the Sun (2016)</h4>
            A love story between a surgeon and a special forces officer set against the backdrop of war.
            <hr>
            <h4>It's Okay to Not Be Okay (2020)</h4>
            A unique romance between a psychiatric ward caretaker and an author with antisocial personality disorder.
            <hr>
           <h4>Boys Over Flowers (2009)</h4>
            A classic love triangle involving a poor girl and wealthy boys at an elite school.
            <hr>
           <h4>When the Camellia Blooms (2019)</h4>
            A single mother faces challenges while running a bar in a small town, including a budding romance and a serial killer.
            <hr>
            <h4>My Dearest (2023)</h4>
            Set during the Qing Dynasty invasion, it follows a noblewoman's manipulations and her unexpected love story.
            <hr>
           <h4>Weightlifting Fairy Kim Bok Joo (2016)</h4>
            A coming-of-age story about a weightlifter discovering love for the first time.
            <hr>
           <h4>True Beauty (2020)</h4>
            A high school girl becomes popular after mastering makeup, leading to romantic entanglements.
            <hr>
           <h4>The Penthouse: War in Life (2020-2021)</h4>
            A dramatic tale of wealth, ambition, and revenge among the elite in Seoul.
    </p-card>
</div>

<div style="display: flex; gap: 2rem; margin: 2rem;">
    <div class="mt-1" style="width: 50%;">
        <p-card  header="Classic K-Dramas">
            <ul type="square">
                <li>Winter Sonata (2002)</li><br>
                <li>Jewel in the Palace (2003–2004)</li> <br>
                <li>Empress Ki (2013–2014)</li> <br>
            </ul>
        </p-card>
    </div>
    <div class="mt-1" style="width: 50%;">
        <p-card  header="Recent Hits">
            <ul type="square">
                <li> Business Proposal (2022)</li><br>
                <li> D.P. (2021)</li> <br>
                <li> Alchemy of Souls (2022)</li> <br>
            </ul>
        </p-card>
    </div>
</div>