::ng-deep .p-card{
    background-color:  #424242;
    width: 100%;
}

::ng-deep .p-card-title{
    color: #eee2e2;
}

label{
    color: hsl(0, 50%, 98%);
    font-size: large;
}

.container{
    display: flex;
    gap: 2rem;
}
.btn{
    display: flex;
    margin: 3rem;
    justify-content: center;
    gap: 1rem;
}